{% extends "base.html.twig" %}

{% block title %}WebsiteBundle:Ticket:list{% endblock %}

{% block body %}
    <h1>Welcome to the Ticket:display page</h1>
    <div class="ticket-view">
        <h2>{{ ticket.titre }}</h2>
        <div>
            <div>Créé le : {{ ticket.creationDate|date("d/m/Y") }} à {{ ticket.creationDate|date("h:m") }}</div>
            {% if ticket.modificationDate != null %}
                <div>Dernière modification le : {{ ticket.modificationDate|date("d/m/Y") }} à {{ ticket.modificationDate|date("h:m") }}</div>
            {% endif %}
            <div>Etat : {{ ticket.state }}</div>
        </div>
        <div><p>{{ ticket.message }}</p></div>
    </div>
{% endblock %}